---
// Components
import PageLayout from "../layouts/PageLayout.astro";
import { Section, OutlineBtn } from "../components/layout";

// Assets
import Bus from "../assets/images/bus.svg";
import Wheel from "../assets/images/wheel.svg";
import Wave from "../assets/images/wave.svg";
import AdmissionHero from "../assets/images/admission-hero.webp";

// Variables
const WEB_APP_URL =
  "https://script.google.com/macros/s/AKfycbwIOY0YJK7T7-k1kSN69iuBRJSWRHNqcsO__7dlQ_3NdEcQ3Zc-yBayisEC45KziblSAw/exec";
---

<PageLayout
  title="Admissions"
  navtext="Home"
  transparentNav={true}
  buttonLink="/"
  bgSrc={`url(${AdmissionHero.src})`}
>
  <!-- ***** Hero Section ***** -->
  <p slot="hero-content" class="text-lg">
    Offer your child the invaluable gift of 'Education at Sacred Heart School'
    <br />
    <span class="text-base">
      - an investment in lifelong learning and growth.
    </span>
  </p>

  <!--Application Form Link Section -->
  <Section class="relative overflow-hidden">
    <div class="mb-6 mx-12">
      <h4 class="font-bold text-lg lg:text-xl mb-4 left-bar">
        Application Form
      </h4>
      <p class="leading-normal">
        Offer your child the invaluable gift of 'Education at Sacred Heart
        School'- an investment in lifelong learning and growth.
      </p>
      <OutlineBtn class="mt-4 bg-primary-dark applybtn">
        <!--target="_blank"
          href="https://icici.myclassboard.com/ApplicationForm_Custom/F11FFA3C-646C-41C4-8A28-C30A4BE13D1F/1/"
        -->
        <!-- shifted to eventListener in script -->
        Apply Now
        <svg
          fill="currentColor"
          viewBox="0 0 24 24"
          class="icon w-6 h-6 transition-all ease-in-out"
        >
          <path
            clip-rule="evenodd"
            d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm4.28 10.28a.75.75 0 000-1.06l-3-3a.75.75 0 10-1.06 1.06l1.72 1.72H8.25a.75.75 0 000 1.5h5.69l-1.72 1.72a.75.75 0 101.06 1.06l3-3z"
            fill-rule="evenodd"></path>
        </svg>
      </OutlineBtn>
    </div>
    <div class="pt-48">
      <div
        class="z-10 inline-block w-1/4 absolute bottom-3 md:bottom-9 -right-8 rotate-12"
        id="bus"
      >
        <!-- Wrapper for bus. This will be used for moving the bus -->
        <!-- xl:w-auto -->
        <div class="h-full">
          <!-- Bus shape defined here -->
          <img src={Bus.src} class="w-full" alt="bus" />
          <div
            class="absolute h-2/5 -bottom-1 lg:-bottom-2 xl:-bottom-3 w-full flex justify-between"
          >
            <img class="ml-[3%] wheel" src={Wheel.src} alt="back-wheel" />
            <img class="mr-[12%] wheel" src={Wheel.src} alt="front-wheel" />
          </div>
        </div>
      </div>
      <img
        src={Wave.src}
        class="w-full absolute bottom-0 left-0 bg-primary-dark"
      />
    </div>
  </Section>
  <div id="enquiry-form">
    <Section title="Got Any Questions?">
      <div class="flex-wrap grid grid-cols-1 md:grid-cols-2 gap-10">
        <!-- Left side - Form Intro Text-->
        <div>
          <h1 class="text-xl font-bold text-black pb-4">Enquiry Form</h1>
          <p class="text-black pr-4">
            Have a question? Feel free to get in touch with us by filling out
            the enquiry form. We look forward to getting in touch with you.
          </p>
        </div>

        <!-- Right side - Inquiry Form -->
        <form
          class="w-full bg-primary-dark p-8 text-white relative"
          id="EnquiryForm"
          name="EnquiryForm"
        >
          <!-- Loading Overlay -->
          <div
            class="hidden w-full h-full absolute top-0 left-0 bg-black opacity-50 justify-center items-center"
            id="loadingOverlay"
          >
            <span class="loading loading-spinner loading-lg"></span>
          </div>
          <!-- Form -->
          <input
            type="text"
            class="text-input"
            name="Student Name"
            id="StudentName"
            placeholder="Name of Student"
            required
          />

          <input
            type="text"
            class="text-input"
            id="ParentName"
            name="Parent Name"
            placeholder="Name of Parent"
            required
          />

          <input
            type="text"
            class="text-input"
            id="dob"
            name="DOB"
            onfocus="(this.type='date')"
            placeholder="Date of Birth"
            required
          />

          <input
            type="number"
            class="text-input"
            id="ContactNumber"
            name="Contact Number"
            placeholder="Contact Number"
            required
          />

          <input
            type="email"
            class="text-input"
            id="email"
            name="Email"
            placeholder="Email"
            required
          />

          <div class="flex justify-between">
            <!-- Grade Selection -->
            <select
              class="select select-bordered border-2 border-white rounded-none bg-primary-dark w-min active:border-white"
              name="Grade"
              id="grade"
              required
            >
              <option disabled selected value="">Grade</option>
              <option value="Nursery">Nursery</option>
              <option value="JR KG">JR KG</option>
              <option value="SR KG">SR KG</option>
              <option value="Ist">Ist</option>
              <option value="IInd">IInd</option>
              <option value="IIIrd">IIIrd</option>
              <option value="IVth">IVth</option>
              <option value="Vth">Vth</option>
              <option value="VIth">VIth</option>
              <option value="VIIth">VIIth</option>
              <option value="VIIIth">VIIIth</option>
              <option value="IXth">IXth</option>
              <option value="Xth">Xth</option>
              <option value="XIth">XIth</option>
              <option value="XIIth">XIIth</option>
            </select>
            <!-- Submit Button -->
            <button
              type="submit"
              class="enquiryform-btn w-full md:w-2/5 bg-white text-black leading-relaxed font-semibold md:ml-0 ml-4"
              id="submit"
            >
              Submit
            </button>
          </div>
        </form>
      </div>
    </Section>
  </div>
</PageLayout>

<style>
  .wheelss {
    background: linear-gradient(
        transparent 48%,
        rgb(56 189 248) 50%,
        transparent 53%
      )
      no-repeat;
  }
  .text-input {
    @apply w-full mb-4 py-3 px-4 bg-transparent text-white placeholder-gray-100 border-white border-2 rounded-none active:border-white;
  }
  /* Remove Inc/Dec Btns for number input */
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }

  select option {
    background-color: #fff;
    color: #000;
  }

  #submit:hover {
    background-color: #c11921;
    color: #fff;
    border-color: #fff;
    border-width: 2px;
  }
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-360deg);
    }
  }
  @keyframes bus-go-road {
    28% {
      transform: translate(-10.2vw, -15%) rotate(7deg);
    }
    36% {
      transform: translate(-20.4vw, -25%) rotate(4deg);
    }
    44% {
      transform: translate(-30.6vw, -29%) rotate(2deg);
    }
    52% {
      transform: translate(-40.8vw, -30%) rotate(-1deg);
    }
    60% {
      transform: translate(-51vw, -27%) rotate(-2.5deg);
    }
    68% {
      transform: translate(-61.2vw, -22%) rotate(-4deg);
    }
    76% {
      transform: translate(-71.4vw, -13%) rotate(-6deg);
    }
    84% {
      transform: translate(-81.6vw, -3%) rotate(-7deg);
    }
    92% {
      transform: translate(-91.8vw, 10%) rotate(-8deg);
    }
    100% {
      transform: translate(-103vw, 26%) rotate(-9deg);
    }
    /* 100% { transform: translate(-10.2vw,-15%) rotate(-7deg); } */
  }
</style>

<script define:vars={{ WEB_APP_URL }}>
  const applyButton = document.getElementById("applyButton");
  const form = document.forms["EnquiryForm"];
  const loadingOverlay = document.querySelector("#loadingOverlay");

  if (applyButton) {
    applyButton.addEventListener("click", function () {
      effect = true;
      window.open(
        "https://icici.myclassboard.com/ApplicationForm_Custom/F11FFA3C-646C-41C4-8A28-C30A4BE13D1F/1/",
        "_blank",
      );
    });
  }
  let effect = false;
  let button = document.querySelector(".applybtn");
  let bus = document.getElementById("bus");
  let wheels = document.querySelectorAll("img.wheel");
  // Handle clicks on each button.
  button.addEventListener("click", () => {
    console.log(effect);
    if (!effect) {
      effect = true;
      bus.classList.add("animate-[bus-go-road_2s_linear_forwards]");
      wheels.forEach((wheel) => {
        wheel.classList.add("animate-spin");
      });
    }
    setTimeout(() => {
      window.open(
        "https://icici.myclassboard.com/ApplicationForm_Custom/F11FFA3C-646C-41C4-8A28-C30A4BE13D1F/1/",
        "_blank",
      );
      effect = false;
    }, "2200");
  });
  const validEmail = (email) => {
    const re = /\S+@\S+\.\S+/;
    return re.test(email);
  };

  const validPhone = (phone) => {
    const re = /^\d{10}$/;
    return re.test(phone);
  };

  const submitHandler = async (e) => {
    e.preventDefault();

    loadingOverlay.classList.remove("hidden");
    loadingOverlay.classList.add("flex");

    const studentName = form["StudentName"].value;
    const parentName = form["ParentName"].value;
    const dob = form["dob"].value;
    const contactNumber = form["ContactNumber"].value;
    const email = form["Email"].value;
    const grade = form["grade"].value;

    if (
      !studentName ||
      !parentName ||
      !dob ||
      !contactNumber ||
      !email ||
      !grade
    ) {
      alert("Please fill all the fields");
      return;
    }

    if (!validEmail(email)) {
      alert("Please enter a valid email");
      return;
    }

    if (!validPhone(contactNumber)) {
      alert("Please enter a valid phone number");
      return;
    }

    const formData = new FormData(form);

    let res = await fetch(WEB_APP_URL, {
      method: "POST",
      body: formData,
    });
    res = await res.json();

    if (res.result === "success") {
      alert(
        "Thank you, your query has been submitted. We will get back to you soon",
      );
      form.reset();
    } else {
      alert("Something went wrong. Please try again later");
    }

    loadingOverlay.classList.add("hidden");
    loadingOverlay.classList.remove("flex");
  };

  form.addEventListener("submit", submitHandler);
</script>
