---
import { Image } from "astro:assets";
// Layout
import PageLayout from "../layouts/PageLayout.astro";

// Components
import {
    Section,
    CenterTitle,
    SectionTitle,
    CarouselSubtext,
    AlternateCarousel,
    Carousel,
} from "../components/layout";

// Types
import type { slide } from "../components/layout/types";

// Assets
import SecondaryHero from "../assets/images/secondary/hero.png";
import ElectiveDescription from "../assets/images/secondary/electives/description.json";
const IX = await Astro.glob("../assets/images/secondary/insight-xchange/*.png");
const gr10res = await Astro.glob("../assets/images/secondary/grade10res/2020-21.jpg");
const Electives = await Astro.glob(
    "../assets/images/secondary/electives/*.webp",
);
const LearningPathways = await Astro.glob(
    "../assets/images/secondary/learning-pathways/*.jpg",
);
const integratedTech = await Astro.glob(
    "../assets/images/secondary/integrated-tech/*.webp",
);
const parentalInvolvement = await Astro.glob(
    "../assets/images/secondary/parental-involvement/*.jpg",
);

const ImageMapper = (glob: Record<string, any>[], description?: any) => {
    const mappedImages = glob.map((file) => {
        const title = file.default.src.split("/").pop().split(".")[0];
        const img: ImageMetadata = file.default;
        const obj: slide = { img, title };
        if (description) obj["description"] = ElectiveDescription[title];
        return obj;
    });
    return mappedImages;
};

const mappedUnboundSeries = ImageMapper(Electives, ElectiveDescription);
const mappedLearningPathways = ImageMapper(LearningPathways);
const mappedParentalInvolvement = ImageMapper(parentalInvolvement);
---

<PageLayout
    title="Higher Secondary"
    navtext="Home"
    transparentNav={false}
    buttonLink="/"
    bgSrc={`url(${SecondaryHero.src})`}
>
    <p slot="hero-content">
        You are exploring Senior High School !!!
    </p>

    <!-- Academics -->
    <Section theme="accent">
        <CenterTitle title="Academics" theme="accent" />
        <div
            class="p-10 rounded-3xl md:flex justify-evenly bg-white text-black"
        >
            <div class="w-full md:w-1/2  justify-center" >
                <h3 class="text-2xl font-bold mb-4">Curriculum</h3>
                <p>
                    The curriculum provided by CBSE is based on the <strong>National 
                    Education Policy 2020</strong> and seeks to provide opportunities 
                    for students to achieve excellence in learning. The 
                    focus is to:
                </p>
                <ul>
                    <li>• Encourage the application of knowledge and skills 
                        in real-life problem-solving scenarios.
                    </li>
                    <li>• Promote critical and creative thinking aligned with 
                        21st Century Skills in classrooms.
                    </li>
                    <li>• Learning at the school is thoughtfully curated to 
                        provide a holistic mix of academic and experiential 
                        learning for our adolescents to nurture them into 
                        being sensible, joyful, and responsible adults of 
                        tomorrow!
                    </li>
                </ul>
            </div>
            <div class="divider md:divider-horizontal divider-error py-4"></div>
            <div class="w-full md:w-1/2">
                <h3 class="text-2xl font-bold mb-4">Subjects</h3>
                <p>
                    The CBSE curriculum offers an eclectic mix of subjects 
                    for the students to choose from; the major ones being 
                    Physics, Chemistry, Biology, Mathematics, Accountancy, 
                    Business Studies, Economics, Sociology, Psychology, 
                    Computer Science, Painting, Physical Education etc. 
                </p>
                <p>Students can choose from the above subjects and electives 
                    depending on the career stream finalized viz: Humanities, 
                    Commerce & Science.
                </p> 
                <p>In addition to the core subjects, 
                    students have a wide choice of Elective subjects viz: 
                    Design, Music, Dance, VFX, Film Making etc.
                </p>
            </div>
        </div>
    </Section>

    <!-- Grade 12 Result -->
    <Section>
        <CenterTitle title="Grade 12 Results" />
        <div class="flex flex-wrap justify-center gap-40" >
            <div
                    class="w-full md:w-1/5 mx-1 md:mx-4 p-4 bg-red-700 text-white font-bold flex flex-col items-center rounded-lg"
                    style={{height:"200px", boxShadow: '10px 5px 10px grey' }}
                >
                <p>Top Scorers of JEE / NEET & CBSE Grade 12</p>
                <ol>
                    <li>1. Urmila Choudhary</li>
                    <li>2. Sanjana Sidhwani</li>
                    <li>3. Vaishnavi Thorava</li>
                </ol>
            </div>
            {
                gr10res.map((img, index) => {
                    return (
                        <Image
                            key={index}
                            src={img.default}
                            alt="Grade 12 Results"
                            className="w-1/2 md:w-1/4 mx-0 md:mx-4 border-2 md:border-4 border-yellow-400"
                        />
                    );
                })
            }
        </div>
    </Section>

    <!-- Insight Xchange -->
    <Section theme="accent">
        <div class="p-10 rounded-lg bg-white text-black">
            <div class="flex flex-col md:flex-row">
                <div class="md:w-1/2">
                    <h3 class="text-2xl font-bold mb-4">
                        Insight Xchange Series
                    </h3>
                    <p>
                        At Sacred Heart, we believe in providing our students
                        with opportunities to expand their horizons and delve
                        into specialized knowledge. Our Expert Sessions are
                        designed to bring seasoned professionals, industry
                        leaders, and subject matter experts into the educational
                        realm, offering students a unique chance to gain
                        insights, learn from real-world experiences, and connect
                        with experts in various fields.
                    </p>
                </div>
                <div class="mt-4 md:mt-auto md:w-1/2 flex">
                    {
                        IX.map((img) => {
                            return (
                                <Image
                                    src={img.default}
                                    alt="Insight Xchange"
                                    class="w-[45%] h-min mx-2 border-2 md:border-4 border-yellow-400"
                                />
                            );
                        })
                    }
                </div>
            </div>
        </div>
    </Section>

    <!-- The UNBOUND Series -->
    <Section title="The UNBOUND Series">
        <p>
            The 'Unbound Series' is a beautiful journey of intellectual talks, 
            bringing forth untold narratives and hidden treasures that have 
            shaped the course of humanity and the world at large in many ways. 
            Each of this high profile guest talk series is poised to be an 
            insightful expedition into the realms of imagination and possibility!
        </p>
        <AlternateCarousel slides={mappedUnboundSeries} id={0} />
        <!-- <CarouselSubtext slides={mappedUnboundSeries} id="1" /> -->
        <SectionTitle title="Learning Pathways" />
        <p>
            Join the festive spirit at Sacred Heart School, where celebrations
            create a vibrant tapestry of unity, joy, and unforgettable memories
            for our school community."
        </p>
        <AlternateCarousel slides={mappedLearningPathways} id={1} />
        <!-- <CarouselSubtext slides={mappedLearningPathways} id="2" /> -->
    </Section>

    <!-- Integrated Tech -->
    <Section theme="accent" title="Integrated Tech">
        <div class="flex flex-col-reverse lg:flex-row justify-evenly">
            <div class="w-full lg:w-1/3">
                <Carousel
                    id="3"
                    media={integratedTech.map((file) => file.default)}
                    type="img"
                    theme="accent"
                />
            </div>
            <p class="rounded-lg text-black bg-white p-10 lg:w-1/3">
                Sacred Heart School aligns with the demands of the modern world
                by seamlessly incorporating technology into our teaching
                methodologies. Our classrooms are furnished with
                state-of-the-art facilities, fostering an environment in which
                students not only engage in conventional learning but also
                cultivate crucial digital literacy skills. This is achieved
                through the incorporation of tablet-based learning and the
                utilization of flipboards as instructional aids. Additionally,
                we enhance the learning experience by integrating Alexa as
                supplementary resource material.
            </p>
        </div>
    </Section>

    <Section title="Sports Activities">
        <div class="flex flex-col-reverse lg:flex-row justify-evenly">
            <p class="rounded-lg text-black bg-white p-10 lg:w-2/5">
                Our high school program draws a  fine balance between academics, 
                sports and various skill enriching activites. This is essential 
                to ensure our teenagers grow in a healthy environment that fosters 
                physical fitness, psychological and social well being that are 
                crucial in modern world's stressful setting. Moreover it enhances 
                their resumes for college applications demonstrating well-rounded 
                personalities.
            </p>
            <div class="w-full lg:w-2/5">
                <Carousel
                    id="3"
                    media={integratedTech.map((file) => file.default)}
                    type="img"
                    theme="accent"
                />
            </div>
        </div>
    </Section>
</PageLayout>

<style>
    p {
        @apply mb-8 text-justify;
    }
</style>
