---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import OutlineBtn from "../components/OutlineBtn.astro";
import Section from "../components/Section.astro";
import VisionMission from '../components/VisionMission.astro';
import Objective from '../components/Objective.astro';
import HeroImg from "../assets/images/home.jpg";
import MissionImg from "../assets/images/Mission.png";
import VisionImg from "../assets/images/Vision.png";

const heroImageSrc = "../assets/images/home.jpg";
---

<Layout title="Home">
	<!-- <Image class="opacity-40" src={HeroImg} alt="hero img" /> -->
	<div class="hero flex items-center">
		<div class="content">
			<h3>Welcome to Sacred Heart School</h3>
			<h1>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis
				fringilla vehicula sollicitudin
			</h1>
			<div class="flex">
				<OutlineBtn class="mr-5">Watch</OutlineBtn>
				<OutlineBtn>Explore</OutlineBtn>
			</div>
		</div>
	</div>
	<Section class="text-white">
		<h2>Section Title</h2>
		 Lorem ipsum dolor sit amet consectetur adipisicing elit. Non rem
		accusamus tempore omnis, corrupti excepturi! Hic quasi, ab nam iure,
		consequuntur aspernatur sed dolor possimus rem, sit natus perferendis
		nobis magnam eaque rerum vel quidem nesciunt optio eos saepe placeat.
		Sapiente exercitationem amet, soluta, aperiam, mollitia saepe error
		molestiae tempore architecto laudantium incidunt aspernatur aut
		provident esse quo quod eum.
	</Section>
  <!-- Vision / Mission -->
  <Section class="bg-white overflow-hidden flex flex-col">
    <!-- Mission -->
    <VisionMission
      title="Our Mission"
	  image={MissionImg}
      desc="To imbibe aptitude and skills in students required for solving problems of humanity who empathetically find joy in making eveyone's life beautiful"
      rtl={true}
    />
    <!-- Objectives -->
    <span class="py-16 relative inline-flex flex-col md:flex-row-reverse bg-primary-dark ml-auto rounded-bl-[60px] md:rounded-bl-none md:rounded-tl-[60px] before:bg-primary before:absolute before:-right-48 before:w-48 before:h-full before:top-0">
		<Objective title="Title1" image={HeroImg} desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis fringilla vehicula sollicitudin"/>
		<Objective title="Title2" image={HeroImg} desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis fringilla vehicula sollicitudin"/>
		<Objective title="Title3" image={HeroImg} desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis fringilla vehicula sollicitudin"/>
		<Objective title="Title4" image={HeroImg} desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis fringilla vehicula sollicitudin"/>
    </span>
    <!-- Vision -->
    <VisionMission
      title="Our Vision"
	  image={VisionImg}
      desc="To be a hub of ideation and creativity, nurturing future citizen leaders instilled with indispensible values for ethical, healthy and joyful life"
      rtl={false}
    />
  </Section>
	<Section class="text-white">
		<h2>Section Title</h2>
		 Lorem ipsum dolor sit amet consectetur adipisicing elit. Non rem
		accusamus tempore omnis, corrupti excepturi! Hic quasi, ab nam iure,
		consequuntur aspernatur sed dolor possimus rem, sit natus perferendis
		nobis magnam eaque rerum vel quidem nesciunt optio eos saepe placeat.
		Sapiente exercitationem amet, soluta, aperiam, mollitia saepe error
		molestiae tempore architecto laudantium incidunt aspernatur aut
		provident esse quo quod eum.
	</Section>

</Layout>

<style define:vars={{ heroImageSrc }}>
	.hero {
		color: #fff;
		background-color: black;
		background-image: var(--heroImageSrc);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		height: 80vh;
	}
</style>
