---
// Layout
import Layout from "../layouts/Layout.astro";
// Components
import { OutlineBtn, Section, SocialBtn } from "../components/layout";
import { Objective, VisionMission } from "../components/home";
// Images
import MissionImg from "../assets/images/Mission.png";
import VisionImg from "../assets/images/Vision.png";
---

<Layout
	title="Home"
	transparent={true}
	navtext="Admission"
	buttonLink="/admission"
>
	<!-- ***** Hero Section ***** -->
	<div class="hero flex items-center justify-between px-4 md:px-12 lg:px-20">
		<!-- Left Red Bar -->
		<div
			class="h-1/3 md:h-1/2 w-4 md:w-8 left-0 absolute bg-primary text-primary"
		>
			.
		</div>

		<!-- Hero Content -->
		<div class="self-end mb-8 md:mr-44">
			<h3 class="font-bold mb-4 text-md md:text-lg">
				Welcome to <span class="text-primary">Sacred Heart</span>
			</h3>
			<h1 class="font-extrabold text-xl md:text-3xl leading-normal">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis
				fringilla vehicula sollicitudin
			</h1>
		</div>

		<!-- Social Btns -->
		<div class="flex md:flex flex-col justify-center">
			<SocialBtn height={12} width={12} class="mb-4" type="twitter" />
			<SocialBtn height={12} width={12} class="mb-4" type="instagram" />
			<SocialBtn height={12} width={12} class="mb-4" type="linkedin" />
			<SocialBtn height={12} width={12} class="mb-4" type="facebook" />
			<SocialBtn height={12} width={12} class="mb-4" type="youtube" />
		</div>
	</div>

	<Section class="text-white">
		<h2>Section Title</h2>
		 Lorem ipsum dolor sit amet consectetur adipisicing elit. Non rem
		accusamus tempore omnis, corrupti excepturi! Hic quasi, ab nam iure,
		consequuntur aspernatur sed dolor possimus rem, sit natus perferendis
		nobis magnam eaque rerum vel quidem nesciunt optio eos saepe placeat.
		Sapiente exercitationem amet, soluta, aperiam, mollitia saepe error
		molestiae tempore architecto laudantium incidunt aspernatur aut
		provident esse quo quod eum.
	</Section>

	<!-- Vision / Mission -->
	<Section class="bg-white overflow-hidden flex flex-col text-black">
		<!-- Mission -->
		<VisionMission
			title="Our Mission"
			image={MissionImg}
			desc="To imbibe aptitude and skills in students required for solving problems of humanity who empathetically find joy in making eveyone's life beautiful. To imbibe aptitude and skills in students required for solving problems of humanity who empathetically find joy in making eveyone's life beautiful"
			rtl={true}
		/>
		<!-- Objectives -->
		<span
			class="py-16 relative inline-grid md:grid-cols-2 xl:grid-cols-4 gap-8 bg-primary-dark ml-auto rounded-bl-[60px] md:rounded-bl-none md:rounded-tl-[60px] before:bg-primary-dark before:absolute before:-right-48 before:w-48 before:h-full before:top-0 z-10 before:-z-10"
		>
			<Objective
				title="Title1"
				desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis fringilla vehicula sollicitudin"
			/>
			<Objective
				title="Title2"
				desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis fringilla vehicula sollicitudin"
			/>
			<Objective
				title="Title3"
				desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis fringilla vehicula sollicitudin"
			/>
			<Objective
				title="Title4"
				desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis fringilla vehicula sollicitudin"
			/>
		</span>
		<!-- Vision -->
		<VisionMission
			title="Our Vision"
			image={VisionImg}
			desc="To be a hub of ideation and creativity, nurturing future citizen leaders instilled with indispensible values for ethical, healthy and joyful life. To be a hub of ideation and creativity, nurturing future citizen leaders instilled with indispensible values for ethical, healthy and joyful life"
			rtl={false}
		/>
	</Section>
	<Section class="text-white">
		<h2>Section Title</h2>
		 Lorem ipsum dolor sit amet consectetur adipisicing elit. Non rem
		accusamus tempore omnis, corrupti excepturi! Hic quasi, ab nam iure,
		consequuntur aspernatur sed dolor possimus rem, sit natus perferendis
		nobis magnam eaque rerum vel quidem nesciunt optio eos saepe placeat.
		Sapiente exercitationem amet, soluta, aperiam, mollitia saepe error
		molestiae tempore architecto laudantium incidunt aspernatur aut
		provident esse quo quod eum.
	</Section>
</Layout>

<style>
	:root {
		--hero-opacity: 0.4;
	}
	.hero {
		color: #fff;
		background-image: linear-gradient(
				rgba(0, 0, 0, var(--hero-opacity)),
				rgba(0, 0, 0, var(--hero-opacity))
			),
			url("/assets/images/hero.jpg");
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		height: 90vh;
	}
</style>
