---
// Components
import PageLayout from "../layouts/PageLayout.astro";
import { Section, Carousel, AlternateSectionTitle, TestimonialCarousel, AlternateCarousel, ActivityList } from "../components/layout";

// Assets
import PreSchoolHero from "../assets/images/pre-school.webp";
const photoList = ["https://picsum.photos/1600/900?random=1", 
                    "https://picsum.photos/1600/900?grayscale&random=2", 
                    "https://picsum.photos/1600/900?random=3", 
                    "https://picsum.photos/1600/900?grayscale&random=4", 
                    "https://picsum.photos/1600/900?random=5"]
---

<PageLayout
    title="Pre School"
    navtext="Home"
    transparentNav={false}
    buttonLink="/"
    bgSrc={`url(${PreSchoolHero.src})`}
>
    <p slot="hero-content" class="text-lg">
        Tiny Steps, Big Adventures
    </p>

    <!-- Academics -->
    <!-- Experiential Learning -->
    <Section title="Experiential Learning">
      <ActivityList 
        activities={[
        "Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur cupidatat.",
        "Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur cupidatat.",
        "Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur cupidatat.",
        "Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur cupidatat."
        ]}
      />
      <AlternateCarousel
          id={"1"}
          items={[
          {
            "title": "John Doe",
            "img": "https://picsum.photos/1600/900?grayscale&random=1",
            "txt": "Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur cupidatat.Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur cupidatat."
          },
          {
            "title": "John Doe",
            "img": "https://picsum.photos/1600/900?grayscale&random=2",
            "txt": "Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur cupidatat.Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur cupidatat."
          },
          {
            "title": "John Doe",
            "img": "https://picsum.photos/1600/900?grayscale&random=3",
            "txt": "Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur cupidatat.Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur cupidatat."
          },
          {
            "title": "John Doe",
            "img": "https://picsum.photos/1600/900?grayscale&random=4",
            "txt": "Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur cupidatat.Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur cupidatat."
          },
          {
            "title": "John Doe",
            "img": "https://picsum.photos/1600/900?grayscale&random=5",
            "txt": "Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur cupidatat.Lorem ipsum dolor sit amet."
          }
          ]}
        />
    </Section>
    <!-- Activities -->
    <Section theme="accent" class="pt-12">
        <AlternateSectionTitle title="Fine Motor and Gross Motor Activities" theme="accent"/>
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 lg:gap-32 w-full pt-12">
            <p class="text-sm md:text-base md:font-medium text-justify max-w-[80ch]">
                Fine and Gross motor skills development plays a pivotal role in a child's overall growth. Our curriculum integrates purposeful activities to enhance fine motor skills, including precision tasks like sand tracing, clay moulding, threading beads, cutting with paper scissors, and more. These activities not only prepare children for academic tasks but also refine their hand-eye coordination and dexterity. Simultaneously, we engage students in gross motor skill activities, such as outdoor games, sensory plays, and dance. These experiences contribute to improved balance, coordination, and strength, fostering a healthy and active lifestyle.
            </p>
            <Carousel photos={photoList} id={"1"}/>
        </div>
    </Section>
    <!-- Life Skills & Values -->
    <Section class="pt-12 bg-white/40">
        <AlternateSectionTitle title="Life Skills & Moral Values"/>
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 lg:gap-32 w-full pt-12">
            <Carousel photos={photoList} id={"2"}/>
            <div>
                <p class="text-sm md:text-base md:font-medium text-justify max-w-[80ch] pb-4">
                    At our school, we go beyond traditional teaching methods by imparting moral values through captivating stories and interactive dramatic plays. This unique approach not only enhances character development but also nurtures creativity and expression in our young learners. 
                </p>
                <p class="text-sm md:text-base md:font-medium text-justify max-w-[80ch]">
                    Moreover, our commitment to holistic education extends to the incorporation of life skills into the curriculum. Through practical and age-appropriate activities, we empower our students with essential life skills, preparing them for a well-rounded and successful future.   ( hand washing, tidying the bed, folding blankets, wearing shoes, helping elders/blind person, giving seats to elders in public transport)
                </p>
            </div>
        </div>
    </Section>
    <!-- Events -->
    <Section title="Events">
      <AlternateCarousel
          id={"2"}
          items={[
          {
            "title": "John Doe",
            "img": "https://picsum.photos/1600/900?grayscale&random=1",
            "txt": "Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur cupidatat.Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur cupidatat.Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur cupidatat."
          },
          {
            "title": "John Doe",
            "img": "https://picsum.photos/1600/900?grayscale&random=2",
            "txt": "Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur cupidatat.Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur cupidatat.Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur cupidatat."
          },
          {
            "title": "John Doe",
            "img": "https://picsum.photos/1600/900?grayscale&random=3",
            "txt": "Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur cupidatat.Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur cupidatat.Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur cupidatat."
          },
          {
            "title": "John Doe",
            "img": "https://picsum.photos/1600/900?grayscale&random=4",
            "txt": "Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur cupidatat.Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur cupidatat.Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur cupidatat."
          },
          {
            "title": "John Doe",
            "img": "https://picsum.photos/1600/900?grayscale&random=5",
            "txt": "Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur cupidatat.Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur cupidatat.Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur cupidatat."
          }
          ]}
        />
    </Section>
    <!-- Sports -->
    <Section theme="accent" class="pt-12">
        <AlternateSectionTitle title="Sports" theme="accent"/>
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 lg:gap-32 w-full pt-12">
            <p class="text-sm md:text-base md:font-medium text-justify max-w-[80ch]">
                Fine and Gross motor skills development plays a pivotal role in a child's overall growth. Our curriculum integrates purposeful activities to enhance fine motor skills, including precision tasks like sand tracing, clay moulding, threading beads, cutting with paper scissors, and more. These activities not only prepare children for academic tasks but also refine their hand-eye coordination and dexterity. Simultaneously, we engage students in gross motor skill activities, such as outdoor games, sensory plays, and dance. These experiences contribute to improved balance, coordination, and strength, fostering a healthy and active lifestyle.
            </p>
            <Carousel photos={photoList} id={"3"}/>
        </div>
    </Section>
    <!-- Testimonials -->
    <Section title="Parent's Testimonials">
        <TestimonialCarousel 
          testimonials={[
          {
            "name": "John Doe",
            "img": "https://images.unsplash.com/photo-1499714608240-22fc6ad53fb2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80",
            "text": "Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur cupidatat.Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur cupidatat.Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur cupidatat."
          },
          {
            "name": "John Doe",
            "img": "https://images.unsplash.com/photo-1499714608240-22fc6ad53fb2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80",
            "text": "Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur cupidatat.Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur cupidatat.Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur cupidatat."
          },
          {
            "name": "John Doe",
            "img": "https://images.unsplash.com/photo-1499714608240-22fc6ad53fb2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80",
            "text": "Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur cupidatat.Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur cupidatat.Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur cupidatat."
          },
          {
            "name": "John Doe",
            "img": "https://images.unsplash.com/photo-1499714608240-22fc6ad53fb2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80",
            "text": "Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur cupidatat.Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur cupidatat.Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur cupidatat."
          },
          {
            "name": "John Doe",
            "img": "https://images.unsplash.com/photo-1499714608240-22fc6ad53fb2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80",
            "text": "Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur cupidatat.Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur cupidatat.Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur cupidatat."
          }
          ]}
        />
    </Section>
    <!-- Therapy -->
    <Section theme="accent" class="pt-12">
        <AlternateSectionTitle title="Pet Assisted Therapy" theme="accent"/>
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 lg:gap-32 w-full pt-12">
            <p class="text-sm md:text-base md:font-medium text-justify max-w-[80ch]">
                Fine and Gross motor skills development plays a pivotal role in a child's overall growth. Our curriculum integrates purposeful activities to enhance fine motor skills, including precision tasks like sand tracing, clay moulding, threading beads, cutting with paper scissors, and more. These activities not only prepare children for academic tasks but also refine their hand-eye coordination and dexterity. Simultaneously, we engage students in gross motor skill activities, such as outdoor games, sensory plays, and dance. These experiences contribute to improved balance, coordination, and strength, fostering a healthy and active lifestyle.
            </p>
            <Carousel photos={photoList} id={"4"}/>
        </div>
    </Section>
</PageLayout>
